*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-variant: tabular-nums;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fafafa;
  color: #595959;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
p{
  line-height: 40px;
}
textarea{
  display: block;
  width: 100%;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  word-break: break-all;
  background-color: transparent;
  color: #595959;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: .3s;
}

.wrapper.dark{
  filter: invert(1) hue-rotate(180deg);
  background: #fff;
}
.dark img{
  filter: invert(0) hue-rotate(180deg);
}

#main a {
  color: #1890ff;
}

.code {
  margin-bottom: 10px;
  padding: 16px 14px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  cursor: text;
  transition: 0.3s;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 14px;
  background: #ffffff;
}

.code:hover {
  background: #faecd8;
}

@media screen and (max-width: 1024px){
  .wrapper #side {
    width: 30%;
  }
  .wrapper #main {
    padding: 3% 6%;
  }
 }

@media screen and (max-width: 768px){
  .wrapper #side {
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100%;
    justify-content: flex-start;
  }
  #side .desc-link{
    margin: 14% 0;
  }
 }
@media screen and (max-width: 414px){
  .use{
    flex-direction: column;
  }
  .wrapper #main{
    padding: 4%;
  }
  #main .use .code textarea {
    height: auto;
  }
 }